{% extends 'base_client_wrapper.twig' %}

{% block title %}БФ “Помогите Детям” | Новости{% endblock %}
{% block desciption %}{% endblock %}
{% block keywords %}{% endblock %}

{% block content %}
    {% autoescape false %}
    <main>
        <section class="section hero-medium">
            <div class="container child-container">
                <h1 class="hero-medium__title">Новости</h1>
                {# <p class="hero-small__subtitle">тут все наши новости</p> #}
            </div>
        </section>

        <section class="section child section-with-bghearts">
            <div class="container child-container">

                <div class="child-wrapper news-wrapper">
                    <div class="card-child-wrapper">
                        <div class='cart-nav news-page'>
                            <div class='active left'><span>Все новости</span></div>
                            <div class='center'><span>Новости детей</span></div>
                            <div class='right'><span>Новости фонда</span></div>
                        </div>

                        <div class='cart-content'>
                            <!-- Все новости -->
                            <div class='news-block all-news'>
                                {% for n in news %}
                                {% if (n.descr) or (n.arphotos) or (n.video) %}
                                 {% if n.child == -1 %}
                                    <div class='news childnews'>
                                 {% else %}
                                    <div class='news fondnews'>
                                 {% endif %}
                                    <a href="{{ path('news_detail', {'id' : n.id}) }}">

                                    <div class='news-info'>
                                        <span class='news-filter-name'>
                                        {% if n.child == -1 %}Новости фонда
                                        {% else %}Новости детей
                                        {% endif %}
                                        </span>
                                        <span>{{n.createdAt|date('d.m.Y')}}</span>
                                    </div>
                                    <div class='news-name'>{{n.title}}</div>
                                    <div class='news-flex-block newslist'>
                                        <div class='left-half'>
                                            <div class='img-block newslist'>
                                                {% if n.video %}<iframe width="560" height="315"
                                                    src="{{n.video}}" frameborder="0"
                                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen></iframe> {% elseif n.arphotos %}
                                                    <img  width="560" height="315" src="/uploads/images/{{n.arphotos[0]}}" style="object-fit: cover;">
                                                    {% endif %}
                                            </div>
                                        </div>
                                        <div class='right-half'>
                                            <div class='text'>
                                                {{(n.descr) ? n.descr|raw[:600]~'...'}}
                                            </div>
                                            <div class='link'>
                                                {% if (n.descr) %}<span class='news-filter-name'>Подробнее</span>{% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    {% if (n.descr) %}</a>{% endif %}
                                    <div class='social-links'>
                                        <script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
                                            <script src="https://yastatic.net/share2/share.js"></script>
                                            <div class="ya-share2" data-services="vkontakte,facebook,viber,whatsapp,telegram"></div>
                                    </div>
                                </div>
                                <div class='separator'></div>
                                {% endif %}
                                {% endfor %}

                            </div>

                            <!-- Новости детей -->
                            {# <div class='news-block child-news' style='display:none;'>
                                {% for n in news %}
                                {% if (n.child>-1) and ((n.descr) or (n.arphotos) or (n.video)) %}
                                <div class='news'>
                                    {% if (n.descr) %}<a href="{{ path('news_detail', {'id' : n.id}) }}">
                                    {% endif %}
                                    <div class='news-info'>
                                        <span class='news-filter-name'>Новости {{ (n.child==-1) ? "фонда" : "детей"}}</span>
                                        <span>{{n.createdAt|date('d.m.Y')}}</span>
                                    </div>
                                    <div class='news-name'>{{n.title}}</div>
                                    <div class='news-flex-block newslist'>
                                        <div class='left-half'>
                                            <div class='img-block newslist'>
                                                {% if n.video %}<iframe width="560" height="315"
                                                    src="{{n.video}}" frameborder="0"
                                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen></iframe> {% elseif n.arphotos %}
                                                    <img  width="560" height="315" src="/uploads/images/{{n.arphotos[0]}}" style="object-fit: cover;">
                                                    {% endif %}
                                            </div>
                                        </div>
                                        <div class='right-half'>
                                            <div class='text'>
                                                {{(n.descr) ? n.descr[:600]|raw~'...'}}
                                            </div>
                                            <div class='link'>
                                                {% if (n.descr) %}<span class='news-filter-name'>Подробнее</span>{% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    {% if (n.descr) %}</a>{% endif %}
                                    <div class='social-links'>
                                        <script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
                                            <script src="https://yastatic.net/share2/share.js"></script>
                                            <div class="ya-share2" data-services="vkontakte,facebook,viber,whatsapp,telegram"></div>
                                    </div>
                                </div>
                                <div class='separator'></div>

                                {% endif %}
                                {% endfor %}
                            </div>

                            <!-- Новости фонда-->
                            <div class='news-block fond-news' style='display:none;'>
                                {% for n in news %}
                                {% if (n.child==-1) and ((n.descr) or (n.arphotos) or (n.video))%}
                                <div class='news'>
                                    {% if (n.descr) %}<a href="{{ path('news_detail', {'id' : n.id}) }}">
                                    {% endif %}
                                    <div class='news-info'>
                                        <span class='news-filter-name'>Новости {{ (n.child==-1) ? "фонда" : "детей"}}</span>
                                        <span>{{n.createdAt|date('d.m.Y')}}</span>
                                    </div>
                                    <div class='news-name'>{{n.title}}</div>
                                    <div class='news-flex-block newslist'>
                                        <div class='left-half'>
                                            <div class='img-block newslist'>
                                                {% if n.video %}<iframe width="560" height="315"
                                                    src="{{n.video}}" frameborder="0"
                                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen></iframe> {% elseif n.arphotos %}
                                                    <img  width="560" height="315" src="/uploads/images/{{n.arphotos[0]}}" style="object-fit: cover;">
                                                    {% endif %}
                                            </div>
                                        </div>
                                        <div class='right-half'>
                                            <div class='text'>
                                                {{(n.descr) ? n.descr[:600]~'...'}}
                                            </div>
                                            <div class='link'>
                                                {% if (n.descr) %}<span class='news-filter-name'>Подробнее</span>{% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    {% if (n.descr) %}</a>{% endif %}
                                    <div class='social-links'>
                                        <script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
                                            <script src="https://yastatic.net/share2/share.js"></script>
                                            <div class="ya-share2" data-services="vkontakte,facebook,viber,whatsapp,telegram"></div>
                                    </div>
                                </div>
                                <div class='separator'></div>
                                {% endif %}
                                {% endfor %}
                            </div> #}
                        </div>

                    </div>

                </div>
            </div>
        </section>
        <div class="container container--small">
                <div class="donate-form-wrapper reports-donate-form-wrapper">
                    {% include 'components/donate_form.twig' %}
                </div>
            </div>


        <!-- Скрипт фильтра новостей-->
        <script>
            $(document).ready(function () {
                $('.cart-nav>div').click(function () {
                    $('.cart-nav>div').each(function () {
                        $(this).removeClass('active');
                    })
                    $(this).addClass('active');

                    //$('.news-block').each(function () {
                    //    $(this).css('display', 'none');
                    //});
                    if ($(this).hasClass('left')) {
                       // $('.all-news').css('display', 'flex');
                       $('.news.childnews').css('display','block');
                       $('.news.fondnews').css('display','block');
                    }
                    if ($(this).hasClass('center')) {
                       // $('.child-news').css('display', 'flex');
                       $('.news.childnews').css('display','block');
                       $('.news.fondnews').css('display','none');
                    }
                    if ($(this).hasClass('right')) {
                        //$('.fond-news').css('display', 'flex');
                       $('.news.childnews').css('display','none');
                       $('.news.fondnews').css('display','block');
                    }
                });

            });
            $( window ).on( "load" ,function() {
            $('.cart-nav>div')[['#all-news','#child-news','#fond-news'].indexOf(location.hash)].click();
});
            $(window).on('hashchange', function(){$('.cart-nav>div')[['#all-news','#child-news','#fond-news'].indexOf(location.hash)].click();}).trigger('hashchange');
            {# var SJ_setiings = {
                        options: {
                            hlw: true, // Height as width
                            wlh: true, // Width as height
                            hlt: true, // Width of the target element (target id is the same as for height)
                            wlt: true, // Height of the target element (target id is the same as for width)
                            alo: true, // All elements as one (height)
                        },
                        settings: {
                            windowResize: true,
                            writeHystory: true
                        }
                    }
            var sj = new SJ(SJ_setiings); #}
        </script>
    </main>
{% endautoescape %}

{% endblock %}
